.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} 
This will cause your bigger to go out of line in bigger screen*/
